nav {
    padding: 10px;
    text-transform: $transformTxt;
    overflow-y: hidden;
    height: 78px;
    transition: height .5s;
    @include media($firstBrake) {
    	@include margins($mediumMargin);

    	margin-bottom: 40px;
    	height: auto;
    }

    @include media($secondBrake) {
    	@include margins($bigMargin);

    	padding: 0;
        margin-top: 50px;
        margin-bottom: 10px;
    }


}



 nav ul {
    font-weight: 700;
    list-style-type: none;
    @extend %flexboxFirstBrake;
    @include media($firstBrake) {
    	justify-content: space-around;
    	flex-wrap: wrap;
    }

    @include media($secondBrake) {
    	flex-wrap: nowrap;
        justify-content: space-between;
    }

}

nav ul li {

    padding: 14px;

    a {
    	@extend %dontSelect;
    }

    &.name {

	    @extend %flexbox;
	    justify-content: space-between;
	    align-items: center;
	    font-size: $xBigFont;
	    padding-top: 10px;
        padding-bottom: 10px;
	    padding-left: 0;
	    padding-right: 0;
	    margin-bottom: 5px;
	    letter-spacing: 2px;
	    text-transform: none;
	    width: 68.96%;
	    margin-left: auto;
	    margin-right: auto;
/*        white-space:nowrap;*/

	    div:first-of-type {
	    	display: inline-block;
	    	text-align: left;
	    	margin-right: 10px;
	    }

	    .fa-bars {
	    	color: $Dusty-Gray;
	    	cursor: pointer;
	    	transition: color .5s;
	    	&:hover {
	    		color: $Very-dark-gray;
	    	}
	    }

	    @include media($firstBrake) {
	    	display: list-item;
	    	margin-top: 30px;
        	flex-basis: 100%;
        	width: auto;
        	.fa-bars {
        		display: none;
        	}
        	.close-btn {
        		display: none;
        	}

        	&.name {
                padding-bottom: 14px;
        		div:first-of-type {
        			margin-right: 0;
        		}


        	}
	    }

	    @include media($secondBrake) {

	        margin-left: 0;
	        margin-top: 0;
	        flex-basis: auto;
	        padding-right: 0;
	        padding-left: 0;
	    }

    }

    @include media($firstBrake) {
    	display: list-item;
    }

    @include media($secondBrake) {
    	padding-left: 30px;
        padding-right: 30px;

        &:last-child {
        	padding-right: 0;
        }
    }

}

