* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: $Roboto;
    color: $Dark-grey;
    background: $Very-light-gray;

    @include media($secondBrake) {

        max-width: 1200px;
        margin: 0 auto;

    }
}

h1 {
    font-size: $smallFont;
    margin-bottom: 15px;
    padding-top: 20px;
    text-transform: $transformTxt;
}

h2 {
    font-size: $bigFont;
    margin-bottom: 9px;
}

a {
    text-decoration: none;
    color: $Dusty-Gray;
    transition: all .5s;

    &:hover {
    	color: $Very-dark-gray;
    }
}

