$firstBrake    : 768px;
$secondBrake   : 1024px;

$smallMargin	: 15px;
$mediumMargin	: 30px;
$bigMargin		: 60px;

$smallGap		: 65px;
$mediumGap    : 80px;


$Roboto : 'Roboto',sans-serif;

$Dark-grey : #7d7d7d;
$White : #fff;
$Dusty-Gray : #999;
$Very-dark-gray : #555;
$Gray : #adadad;
$Steel-blue : #537fbc;
$Very-light-gray : #f3f3f3;
$Dark-grayish-blue : #a1a7af;

$xSmallFont : .8em;
$smallFont  : 1em;
$mediumFont : 1.2em;
$bigFont    : 1.25em;
$xBigFont   : 1.5em;

$transformTxt  :  uppercase;  